
.div1{
    width:100%;
    height: 50px;
    position: relative;
}
.img1{
    position: absolute;
    width:280px;
    height:140px;
    top:30px;
    left:590px;
}
.div2{
    width: 100%;
    position:relative;
    height: 500px;
}
.form1{
    position:absolute;
    top:130px;
    left:622px;
}
.div3{
    position: absolute;
    top:297px;
    left:703px;
}