.container{
    position: relative;
    margin-bottom: 3px;
}

.table{
    width:980px;
    border-collapse:collapse;
    margin:0 auto;
    border:1px solid #e8e8e8;
    font-size:14px;
}

.table tr:nth-child(2n) {
    background: lightblue;
}

.table .even{
    background-color:lightgray;
}

.table tr{
    height:90px;
    text-align:center;
    background-color:white;
}

.table .title{
    background-color: #00a0dc;
    height:30px;
    color:black;
    font-size:16px;
}

.txt{
    font-size: 18px;
}

