body,form,input{ padding:0;margin:0;border: 0;
    background-color: rgba(105,105,101,6);
    color:#b0b0b0;
}
table{
    width:1500px;
    height:50px;
    border:2px solid #F00;
    text-align: center;
    margin: 0 auto;
}
.title{
    text-align: center;
    color:#b0b0b0;
    size:20px;
    font-family: 微软雅黑;
}
a:hover{
    color:#ff6700;
}
tr{height:50px;}
.div1{
    width:100%;
    height: 100px;
    position: relative;
}
.div2{
    position:absolute;
    top:23px;
    left:1387px;
}
.img1{
    position: absolute;
    top:24px;
    left:627px;
    width:233px;
    height:70px
}
table a{
    text-decoration: none;
}
@font-face {
    font-family: 'iconfont';
    src: url('../picture/iconfont/icon/iconfont.eot');
    src: url('../picture/iconfont/icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../picture/iconfont/icon/iconfont.woff2') format('woff2'),
    url('../picture/iconfont/icon/iconfont.woff') format('woff'),
    url('../picture/iconfont/icon/iconfont.ttf') format('truetype'),
    url('../picture/iconfont/icon/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 43px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}